* {
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.description {
    text-align: center;
}

/* Navigation Bar */

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    padding: 10px;
    background-color: #1B262C;
    color: white;
    flex: 1;
}

.logo-txt {
    display: inline-block;
    width: min-content;
}

.nav-links-flexbox {
    display: flex;
    flex-direction: column;
    margin-block: auto;
}

.nav-links {
    margin: 0px 10px;
    text-align: center;
}

.nav-links li {
    margin-bottom: 25px;
    font-size: 13px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links-flexbox > .contact-link {
    line-height: 25px;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
}

.nav-links-flexbox .contact-link p {
    text-align: center;
    font-size: 13px;
    background-color: none;
    color: black;
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.name {
   font-size: 2rem;
}

.pfp {
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;

}

.hero-tagline {
    font-size: 0.9rem;
    color: gray;
}

/* Resume */
/* Education */

#resume {
    padding: 10px;
}

#resume > section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
    background: #BBE1FA;
}

.edu-gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.school-name {
    font-size: 1.2rem;
    text-align: center;
}

.school-img {
    height: 150px;
    border-radius: 20%;
}

.edu-description {
    grid-row: span 2;
    font-size: 0.8rem;
}
