* {
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    height: 250px;
    padding: 10px;
    background-color: #1B262C;
    color: white;
}

.nav-links-flexbox {
    display: flex;
    flex-direction: column;
}

.nav-links {
    margin: 0px 10px;
}

.nav-links li {
    margin-bottom: 12px;
    font-size: 10px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links-flexbox > a {
    text-decoration: none;
    line-height: 25px;
    border-radius: 20px;
    background-color: white;
}

.nav-links-flexbox a p {
    text-align: center;
    font-size: 13px;
    background-color: none;
    color: black;
}
